{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="max-w-2xl mx-auto p-8 bg-white rounded-lg shadow-lg m-10">
  <h1 class="text-4xl font-bold mb-8 text-center text-gray-800">Change Password</h1>
  
  <form method="post" class="space-y-8">
    {% csrf_token %}
    <div>
      <label for="id_old_password" class="block text-sm font-medium text-gray-700">Old Password</label>
      <input
        type="password"
        id="id_old_password"
        name="old_password"
        class="mt-1 bg-gray-100 block p-3 w-full shadow-sm sm:text-sm border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"
      />
    </div>
    <div>
      <label for="id_new_password1" class="block text-sm font-medium text-gray-700">New Password</label>
      <input
        type="password"
        id="id_new_password1"
        name="new_password1"
        class="mt-1 bg-gray-100 block p-3 w-full shadow-sm sm:text-sm border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"
      />
    </div>
    <div>
      <label for="id_new_password2" class="block text-sm font-medium text-gray-700">Confirm New Password</label>
      <input
        type="password"
        id="id_new_password2"
        name="new_password2"
        class="mt-1 bg-gray-100 block p-3 w-full shadow-sm sm:text-sm border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"
      />
    </div>
    <div class="flex justify-center mt-8 space-x-4">
      <button type="submit" class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded shadow-lg transition duration-300 ease-in-out transform hover:scale-105">Change Password</button>
      <a href="{% url 'profile' %}" class="bg-gray-600 hover:bg-gray-800 text-white font-bold py-2 px-4 rounded shadow-lg transition duration-300 ease-in-out transform hover:scale-105">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
