{% extends 'base.html' %} {% load static %} {% block content %}

<div class="max-w-xl mx-auto mt-10">
  <h1 class="text-2xl font-bold mb-4">Spaces</h1>
  {% if spaces %}
  <ul>
    {% for space in spaces %}
    <li class="mb-2 flex justify-between items-center">
      <span>
        <strong>{{ space.name }}</strong> (Capacity: {{ space.capacity }})
      </span>
      <!-- Delete Button -->
      <form
        method="POST"
        action="{% url 'delete_space' space.id %}"
        class="inline-block ml-4"
      >
        {% csrf_token %}
        <button
          type="submit"
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded"
          onclick="return confirm('Are you sure?');"
        >
          Delete
        </button>
      </form>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No spaces available.</p>
  {% endif %}
</div>
{% endblock %}
