<div class="dark:bg-gray-950 bg-gray-50 md:py-20 py-10 overflow-hidden p-10">
  <div class="container-2 mx-auto">
    <div class="flex md:flex-row flex-col md:justify-between md:items-center items-start gap-y-5">
      <!-- Navigation -->
      <div class="flex flex-col gap-y-6">
        <a class="text-2xl font-bold dark:text-white text-gray-950 dark:lg:text-3xl" href="/">
          PrestigeReserve
        </a>
        <div class="grid grid-cols-2 gap-y-4 md:flex md:flex-row items-center gap-x-8">
          {% for item in navigation %}
          <a href="{{ item.href }}" class="font-medium hover:text-blue-800 dark:text-white dark:hover:text-blue-200 transition duration-300">
            {{ item.label }}
          </a>
          {% endfor %}
        </div>
      </div>

      <!-- Newsletter -->
      <div class="flex flex-col gap-y-2">
        <h2 class="text-sm dark:text-white text-gray-950 font-medium">
          Join our newsletter
        </h2>
        <div class="flex items-center gap-x-2">
          <div class="field w-[212px]">
            <input class="py-2 px-3 h-[40px] w-full dark:bg-gray-900 bg-gray-100 rounded-[8px] border dark:border-gray-800 border-gray-300 text-sm text-gray-600 transition duration-300 focus:outline-none focus:border-blue-500 placeholder:text-gray-600 placeholder:text-sm" placeholder="Enter your email" />
          </div>
          <button class="relative px-6 py-3 rounded-full text-sm text-center bg-blue-500 text-white hover:bg-blue-400 transition duration-300">
            Subscribe
          </button>
        </div>
      </div>
    </div>

    <hr class="dark:border-gray-800 border-gray-200 mt-12" />

    <div class="grid grid-cols-2 gap-y-4 md:flex md:items-center md:gap-x-4 px-2 mt-4 w-full">
      {% for item in socials %}
      <a class="flex items-center gap-x-2 dark:bg-gray-900 bg-gray-200 rounded-[16px] py-3 px-4 h-[60px] w-[134px] hover:bg-blue-500 dark:hover:bg-blue-500 transition duration-300" href="{{ item.href }}">
        <i class="{{ item.icon }} text-gray-900 dark:text-white"></i>
        <h2 class="dark:text-white text-gray-900 text-xs font-medium leading-[18px]">
          {{ item.label }}
        </h2>
      </a>
      {% endfor %}
    </div>

    <div class="flex md:flex-row flex-col justify-between gap-y-5 mt-10">
      <h1 class="text-sm font-medium dark:text-white text-gray-950">
        &copy; PrestigeReserve. All Rights Reserved.
      </h1>
      <div class="flex gap-x-12 text-sm font-medium text-gray-600 dark:text-gray-400 md:items-center">
        <a href="#" class="hover:text-blue-500 transition duration-300">Terms</a>
        <a href="#" class="hover:text-blue-500 transition duration-300">Privacy</a>
      </div>
    </div>
  </div>
</div>
